{% extends "product/index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">


<head>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
  </svg> 

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lonely Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lonely
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  {% block detail %}
  
  <div class="border shadow mt-5 mb-5 container-fluid" style="max-width:100%;" dir="rtl">
    <div class="row">
        
        
        <div style="max-width:100%;" id="carouselExampleIndicators"  class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div  class="carousel-inner">
            {% for prd in product %}
            <div class="carousel-item">
            
              <img style="border-radius: 8px;  max-width:100%;" src="{{prd.image.url}}" class="shadow text-center card-img-top me-2 mt-5 border rounded" />
            {% endfor %}
            </div>
            {% for image in image %}
            <div class="carousel-item active">
              <img style="border-radius: 8px; max-width:100%;" src="{{image.image.url}}" class="shadow text-center card-img-top me-2 mt-5 border rounded" />
            </div>
            
            {% endfor %}
            
          
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" style=" color: rgb(5, 7, 12);" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
         
        
          <div class=" shadow col-xs-5 mt-5" style="border:0px solid rgb(24, 21, 21)">
              {% for prd in product %}
                
              
              <!-- Datos del vendedor y titulo del producto -->
              <h1 class=" text-center" >{{prd.title}}</h1>    
             
              

              
              {% endfor %}
        {% for prd in product %}
        {% for detail in detail %}
              <!-- Precios -->
              <h6 class="title-price mt-5 "><small>رنگ</small></h6>
              
              <div  style="max-width:100%;" class="section">
                
                {% for co in color %}
                <div class="row">
                <div class="input-group mb-3">
                  <div class="">
                    <h4>{{co.title}}</h4>
                    <input class="form-check-input mt-0" style="width:50px; background-color:{{co.color}};" type="checkbox" value="{{co.title}}" >
                  </div>
                </div>
                
                </div>
                

                {%endfor%}
                
                
                  <h6 class="mt-5 title-attr" style="margin-top:15px;" ><small>{{ detail.Alloy }}</small></h6>                    
                  <div>
                      <div class="attr" style="width:25px;background:#5a5a5a;"></div>
                      <div class="attr" style="width:25px;background:white;"></div>
                  </div>
              </div>
              
              <!-- Detalles especificos del producto -->
              <div class="section">
                
              </div>
              <div class="section" style="padding-bottom:5px;">
                                    
                  <div>
                      <div class="mt-2 attr2"><h3>{{detail.Weight}} گرم</h3></div>
                     
                  </div>
              </div>   
              <div class="section" style="padding-bottom:20px;">
                                      
                  
              </div>                
              
              <!-- Botones de compra -->
              <div class="section" style="padding-bottom:20px;">
                <div class="col">
                <form action="/action_page.php">
                  <label for="quantity">تعداد</label>
                  <input type="number" id="quantity" name="quantity" class="bi bi-trash3" min="1" >
                  
                </form>
              </div>
                <div class="border container col-4">
                   <h1 style="margin-top:0px;"> {{ prd.price }} تومان</h1>
                
                  <a href="{% url 'buy' prd.id %}" ><button class="btn "  style="background-color :rgb(231, 15, 44)"><span style=" width:100px;height:100px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><h3> افزودن به سبد خرید</h3></button></a>
                </div>  
              </div>                                         
          </div>                              
          <div class="input-group bootstrap-touchspin"></div>

          <div class="col-xs-9">
            <div class="container text-center">
              <div class="row" style="color: rgb(2, 6, 14);">
                <div class="border shadow bg-secondary ms-3 mt-3 shadow col order-1" style="width:100px;height:100px; color: rgb(240, 241, 243);">
                  <h4>گارانتی</h4>
                  <h1>{{ detail.warranty }}</h1>
                </div>
                <div class="border shadow bg-secondary ms-3 mt-3 shadow col order-1" style="width:100px;height:100px; color: rgb(249, 249, 250);">
                  <h4>ساخت کشور</h4>
                  <h1>{{ detail.made_in }}</h1>
                </div>
                <div class="border shadow bg-secondary ms-3 mt-3 shadow col order-1" style="width:100px;height:100px; color: rgb(241, 243, 247);">
                  <h4>ابعاد</h4>
                  <h1>{{ detail.dimensions }} در {{ detail.in_dimensions }}</h1>
                </div>
              </div>
            </div>
              <div style="width:100%;border-top:1px solid rgb(121, 118, 118)">
                  <p style="padding:15px;">
                      <small><p>توضیحات:</p>

                       <h5> {{ detail.discribtion }}</h5>
                      </small>
                  </p>
        {% endfor %}
        {%endfor%}        
              </div>
          </div>		
      </div>
  </div>       
          
  
  {% endblock %}  

  <script>
    $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            })            
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })                        
        }) 
  </script>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
  </svg>
  
  
</body>
