{% load static %}
<!DOCTYPE html >
<html lang="en" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
  </svg>

  <title>فروشگاه سهند </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <style>@font-face {
    font-family: 'byekan';
    src: url('{% static "assets/fonts/BYekan.eot" %}');
    src: url('{% static "assets/fonts/BYekan.woff" %}') format('woff');
    src: url('{% static "assets/fonts/BYekan.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    body{
    font-family: "byekan";
    } </style>

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href='http://alimd.github.io/libs/1fonts/1.4/1fonts.css' rel='stylesheet' type='text/css' />
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lonely
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body >
  
  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    
    
    <h1>به فروشگاه لوازم الکترونیک سهند خوش آمدید</h1>

    <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div dir="ltr"   class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">فروشگاه لوازم الکترونیک سهند</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active " href="{% url 'index' %}">صفحه اصلی</a></li>
          <li><a class="nav-link scrollto" href="{% url 'products' %}">محصولات</a></li>
          <li><a class="nav-link scrollto" href="{% url 'cart' %}">رفتن به سبد خرید </a></li>
          <li><a class="nav-link scrollto" href="#contact">درباره ما</a></li>
          <li class="dropdown"><a href="{% url 'group' %}"><span>دسته بندی</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% block group %}
            
            
            {% endblock %}
          </ul>    
                
          <li class="dropdown"><a href=""><span>ورود|ثبت نام</span> <i class="bi bi-chevron-down"></i></a>        
             <ul>
              {% if  user.is_authenticated %}
                <p> {{user.username}} سلام </p>
                <li class=""><a href="{% url 'logout' %}"><span>خروج</span> <i class=""></i></a>
                
              {% else %}
                <li class=""><a href="{% url 'login' %}" class= "btn "data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span>ورود</span> <i class=""></i></a>
              {% endif %}
                
              
              <li class=""><a href="" target="blank" data-bs-toggle="modal" data-bs-target="#register" ><span>ثبت نام</span> <i class=""></i></a>
             </ul>   
              </li>
            </ul>
          </li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
   
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

      </div>   
     

    

    
      <section id="testimonials" class="testimonials section-bg">
        <div style="max-width:70%;" class="border shadow bg-light container">
          
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="10">
            <div class="swiper-wrapper">
            {% block gprd %}
            {% endblock %}
            
            {% block product %}
            {% endblock product %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

         
        {% block detail %}
        {% endblock %} 
        

          
      </div>
        
        
       
        
        
        <div class="container">

          
  
          <div class="testimonials-slider swiper " data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
            
            
            </div>
          </div>
            
        </div>

        
  

      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <a href="{% url 'cart' %}"><h2>سبد خرید</h2></a>
          
        </div>
         
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            {% block cart %} 
            {% endblock cart %}
          </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>خدمات ویژه</h2>
          <p>.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="20">
          <div class="swiper-wrapper">

            

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
........................................................................................                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>مرجوعی</h3>
                <h4></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
...........................................................................................................                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>تحویل سریع</h3>
                <h4></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
...............................................................................                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3> پرداخت در محل</h3>
                <h4></h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
....................................................................................................                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="" class="testimonial-img" alt="">
                <h3>پشتیبانی داعم</h3>
                <h4></h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>درباره ما</h2>
..................................................................................................        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>Lonely</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i>
                <p>info@example.com</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy;  <strong><span></span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-lonely/ -->
        
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script>
    let price = 1000000;
    let text = price.toLocaleString("fi-FI");
    
    document.getElementById("price").innerHTML = text;
    </script>

  <script>
  const myModal = document.getElementById('exampleModal')
  const myInput = document.getElementById('exampleModal')

  myModal.addEventListener('shown.bs.modal', () => {
   myInput.focus()
  })

  </script>
    
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>